html{
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    font-family: lato;
    font-size: medium;
   /* background-color: beige;
    border: 15px solid maroon;*/
}


/*header {
    text-align: center;
    height: 20%;
    margin-bottom: 10%;
    margin-top: 5%;
}

.container1{
    display: flex;
    justify-content: space-around;
    margin-bottom: 10%;
    font-size: 2em;
    
}

.container2{
    display: flex;
    justify-content: space-around;
    margin-bottom: 10%;
    color: red;
}

.container3{
    display: flex;
    justify-content: space-around;
    margin-bottom: 10%;
    color: black;
}
button{
    color: red;
}
.container3>div{
    background-color: red;
}*/